<div id="container">
  {{view Ember.TextField valueBinding="newDestinationName"}}
  {{view Ember.TextField valueBinding="newDestinationDescription"}}
  <button {{action addDestination}}>Add</button>
</div>
Your preview:
<p>Where: {{newDestinationName}}</p>
<p>Why? {{newDestinationDescription}}</p>

<ul>
  {{#each controller}}
  <li>{{name}}</li>
  {{/each}}
</ul>




