<div id="container">
  {{view Ember.TextField valueBinding="newDestinationName"}}
  {{view Ember.TextField valueBinding="newDestinationDescription"}}
</div>
Your preview:
<p>Where: {{newDestinationName}}</p>
<p>Why? {{newDestinationDescription}}</p>
Does this look good? Add it to the database!
<button {{action addDestination}}>Add</button>





