<div id="container">
  {{view Ember.TextField valueBinding="newDestinationName"}}
  {{view Ember.TextField valueBinding="newDestinationDescription"}}
  <button {{action addDestination}}>Add</button>
</div>
Your preview:
<p>Where: {{newDestinationName}}</p>
<p>Why? {{newDestinationDescription}}</p>

<ul>
  {{#each thing in destinations}}
  <p>
      Where:{{thing.name}}
      Why?:{{thing.description}}
  </p>
  {{/each}}
</ul>




